{{> header}}
{{> navbar}}
    <img src="/images/tituloprincipal.png"><br>

    <div class="menu">
        <table>
            <tr>
              <th><img src="/images/botondiegovelazquez.png"></th>
              <th><img src="/images/botonmiguelangel.png"></th>
            </tr>

            <tr>
              <th><img src="/images/botonpicasso.png"></th>
              <th><img src="/images/botonclaudemonet.png"></th>
            </tr>
          </table>
    </div><br>

{{>footer}}
    
